#
# i3wm
#

##~~~~~~ GENERAL ~~~~~~~~~##

set $mod Mod4
set $term st
font pango:Terminus, FontAwesome 10

# i3 sensible term
bindsym $mod+Return exec --no-startup-id $term
bindsym $mod+Shift+Return exec --no-startup-id $term -e tmux
# rofi
bindsym $mod+x exec env QT_QPA_PLATFORMTHEME=qt5ct rofi -show drun -modi drun -show-icons d
# reload config
bindsym $mod+Shift+c reload	
# redraw i3
bindsym $mod+Shift+r restart
# screen/webcam recording
bindsym $mod+q exec --no-startup-id $HOME/.bin/record_screen.sh
bindsym $mod+Shift+q exec --no-startup-id $HOME/.bin/record_screen-mic.sh
bindsym $mod+w exec --no-startup-id $HOME/.bin/record_webcam.sh
bindsym $mod+Shift+w exec --no-startup-id $HOME/.bin/record_webcam-mic.sh
# screen/webcam kill
bindsym $mod+p exec pkill ffmpeg
# screenshot - all
bindsym Print exec --no-startup-id scrot
bindsym Shift+Print exec --no-startup-id scrot -u
# multi-head
bindsym $mod+Left exec --no-startup-id $HOME/.bin/dual_screen-left.sh
bindsym $mod+Up exec --no-startup-id $HOME/.bin/dual_screen-top.sh
bindsym $mod+Right exec --no-startup-id $HOME/.screenlayout/right.sh
bindsym $mod+Down exec --no-startup-id $HOME/.screenlayout/off.sh
# dvd
bindsym $mod+grave exec --no-startup-id mpv dvd://; Workspace $WS6
# pass
bindsym $mod+z exec --no-startup-id passmenu
# clipboard
bindsym $mod+a exec --no-startup-id clipmenu

##~~~~~~ WINDOWS ~~~~~~~~~##

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
# split horizontal
bindsym $mod+bracketleft split h
# split vertical
bindsym $mod+bracketright split v 
# fullscreen
bindsym $mod+f fullscreen toggle
bindsym $mod+Shift+f fullscreen toggle global 
# kill focused window
bindsym $mod+c kill
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod
# resize window
bindsym $mod+Shift+o resize shrink width 10 px or 10 ppt
bindsym $mod+Shift+u resize grow height 10 px or 10 ppt
bindsym $mod+Shift+i resize shrink height 10 px or 10 ppt
bindsym $mod+Shift+y resize grow width 10 px or 10 ppt
# back to normal
bindsym $mod+Shift+Backspace mode "default"
# colors
set_from_resource $fg i3wm.color0
set_from_resource $bg 13wm.color13
# [class]	      [border][backgr.][text][indicator][child_border]
client.focused          $bg     $bg     $fg     $bg       $bg
client.focused_inactive $fg     $bg     $fg     $bg       $fg
client.unfocused        $fg     $bg     $fg     $bg       $fg
client.urgent           $fg     $fg     $fg     $bg       $bg
client.placeholder      $bg     $bg     $fg     $bg       $bg
client.background       $bg
# borders
for_window [class="^.*"] border pixel 2
# gaps
gaps inner 22
gaps outer 22
# gaps - on/off
bindsym $mod+Shift+s gaps inner current set 22; gaps outer current set 22
bindsym $mod+Shift+d gaps inner current set 0; gaps outer current set 0
# gaps - increase/decrease
bindsym $mod+Shift+g gaps inner current plus 5
bindsym $mod+g gaps inner current minus 5
# dropdown scratchpads
# tmux
for_window [instance="dropdown"] floating enable
for_window [instance="dropdown"] resize set 900 700
for_window [instance="dropdown"] move position center
for_window [instance="dropdown"] move scratchpad
#exec --no-startup-id $term -depth 32 -bg [90]{background.alpha} -name dropdown -e tmux
exec --no-startup-id $term -n dropdown -e tmux
bindsym $mod+u [instance="dropdown"] scratchpad show; move position center; focus
# python3
for_window [instance="math"] floating enable
for_window [instance="math"] resize set 800 300
for_window [instance="math"] move position center
for_window [instance="math"] move scratchpad
#exec --no-startup-id $term -depth 32 -bg [90]{background.alpha} -fn "xft:mono:pixelsize=24" -name math -e python3 -q
exec --no-startup-id $term -f mono:pixelsize=24 -n math -e python3 -q
bindsym $mod+m [instance="math"] scratchpad show; move position center; focus

##~~~~~~ WORKSPACES ~~~~~~##

# names
set $WS1 "1"
set $WS2 "2"
set $WS3 "3"
set $WS4 "4"
set $WS5 "5"
set $WS6 "6"
set $WS7 "7"
set $WS8 "8"
set $WS9 "9"
set $WS10 "0"
# binds
bindsym $mod+Tab workspace next
bindsym $mod+Shift+Tab workspace prev
bindsym $mod+1 workspace $WS1
bindsym $mod+2 workspace $WS2
bindsym $mod+3 workspace $WS3
bindsym $mod+4 workspace $WS4
bindsym $mod+5 workspace $WS5
bindsym $mod+6 workspace $WS6
bindsym $mod+7 workspace $WS7
bindsym $mod+8 workspace $WS8
bindsym $mod+9 workspace $WS9
bindsym $mod+0 workspace $WS10
# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $WS1
bindsym $mod+Shift+2 move container to workspace $WS2
bindsym $mod+Shift+3 move container to workspace $WS3
bindsym $mod+Shift+4 move container to workspace $WS4
bindsym $mod+Shift+5 move container to workspace $WS5
bindsym $mod+Shift+6 move container to workspace $WS6
bindsym $mod+Shift+7 move container to workspace $WS7
bindsym $mod+Shift+8 move container to workspace $WS8
bindsym $mod+Shift+9 move container to workspace $WS9
bindsym $mod+Shift+0 move container to workspace $WS10
# assignment
assign [class="QtPass"] 0
for_window [class="QtPass"] focus
assign [class="Waterfox"] 2
for_window [class="Waterfox"] focus
assign [class="qutebrowser"] 2
for_window [class="qutebrowser"] focus
assign [class="Surf"] 2
for_window [class="Surf"] focus
assign [class="retroarch"] 5
for_window [class="retroarch"] focus
assign [class="Steam"] 5
for_window [class="Steam"] focus
assign [class="Vlc"] 6
for_window [class="Vlc"] focus
assign [class="VirtualBox Manager"] 7
for_window [class="VirtualBox Manager"] focus

##~~~~~~ I3BAR ~~~~~~~~~~~##

# polybar
exec_always --no-startup-id ~/.config/polybar/launch.sh

##~~~~~~ POWER MENU ~~~~~~## 

## screenlocker
#set $Locker xlock +description -echokeys -showdate -timeout 4 -fg blue -bg black -info " " -username " " -password "Password: " -validate "Hang on..." -invalid "You Suck." -mode noof -delay 10000
#set $Locker xscreensaver-command -lock

set $Locker xlock -username " " -password " " -message " " -info "Enter your password mortal..." +description -fg blue -bg black -echokeys -echokey "X" -delay 10000 -mode noof

# menu config
set $mode_system  [l]ock - [L]ogout - [s]uspend - [h]ibernate - [r]eboot - [S]hutdown 
mode "$mode_system" {
    bindsym l exec --no-startup-id $Locker, mode "default"
    bindsym Shift+L exec --no-startup-id i3-msg exit, mode "default"
    bindsym s exec --no-startup-id $Locker && systemctl suspend, mode "default"
    bindsym h exec --no-startup-id $Locker && systemctl hibernate, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Shift+s exec --no-startup-id systemctl poweroff -i, mode "default"  
    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+space mode "$mode_system"

##~~~~~~ SPECIAL BINDS ~~~~~~~~##

# touchpad
exec --no-startup-id synclient VertEdgeScroll=3 TapButton1=1 TapButton2=3 TapButton3=2
# volume
bindsym XF86AudioRaiseVolume exec --no-startup-id "pulseaudio-ctl up 5"
bindsym XF86AudioLowerVolume exec --no-startup-id "pulseaudio-ctl down 5"
bindsym XF86AudioMute exec --no-startup-id "pulseaudio-ctl mute"
# mic - mute/unmute
bindsym Ctrl+Shift+m exec --no-startup-id "pulseaudio-ctl mute-input"
# media 
bindsym XF86AudioNext exec --no-startup-id mpc next
bindsym XF86AudioPrev exec --no-startup-id mpc prev
bindsym XF86AudioPlay exec --no-startup-id mpc toggle
# cd/dvd
bindsym XF86Eject exec --no-startup-id eject /dev/sr0
# alienfx
bindsym XF86Launch1 exec --no-startup-id alienfx-gtk

##~~~~~~ STARTUP ~~~~~~~~~##

exec --no-startup-id $HOME/.bin/screen_power_management.sh
exec --no-startup-id /usr/bin/compton -f --xrender-sync --xrender-sync-fence
exec --no-startup-id /usr/bin/blueman-applet
exec --no-startup-id /usr/bin/nvidia-settings --load-config-only 
exec --no-startup-id /usr/bin/unclutter -idle 1
exec --no-startup-id /usr/bin/wal -R -a "90"
exec --no-startup-id /usr/bin/i3 workspace 0 focus
exec --no-startup-id /usr/bin/xclipmenud &
